.course{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 20px;
    margin-left: 35px;
}
.image{
    height: 200px;
    width: 100%;
}
.title:hover{
    color: lightseagreen;
}